<div class="container">
  <h1>Articles Index</h1>

  <div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
  </div>
  <br>
  <%= render 'article', articles: @articles %>
</div>
