<% if object.errors.any? %>
  <div class="alert alert-danger">
    <h2>The following errors prevented the <%= object.class.to_s.downcase %> from saving</h2>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
