<div class="container">
  <h1>Create a new category</h1>

  <%= render 'shared/errors', object: @category %>
  <%= render 'form' %>

  <hr>
  <%= link_to "Back to All Articles", articles_path, class: "btn btn-info" %>
</div>
